<div class="formfield" id="potluck-name-field">
  <label>Name:</label><br>
  <input type="text" name="potluck[name]" value=<%= @potluck.name %>>
</div>
<div class="formfield" id="location-field">
  <label>Location:</label><br>
  <input type="text" name="potluck[location]" value=<%= @potluck.location %>>
</div>
<div class="formfield" id="potluck-time-field">
  <label>Starts at:</label><br>
  <input type="text" name="potluck[starts_at]" value="<%= @potluck.starts_at %>">
</div>
